# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Project specific
images/
poems/
data/*.jpg
!data/cdmx.jpg 